.pnbsmall {
	FONT-SIZE: 0.9em; COLOR: #666; LINE-HEIGHT: 18px
}
.technorati {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/technobubble.gif) no-repeat left 50%
}
.feedster {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/feedster.gif) no-repeat left 50%
}
.bloglines {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/bloglines.gif) no-repeat left 50%
}
.pdeli {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/delicious.gif) no-repeat left 50%
}
.spurl {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/spurl.gif) no-repeat left 50%
}
.furl {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/furl.gif) no-repeat left 50%
}
.blink {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/blink.png) no-repeat left 50%
}
.digg {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/digg.gif) no-repeat left 50%
}
.simpy {
	PADDING-RIGHT: 5px; PADDING-LEFT: 20px; BACKGROUND: url(submititicons/simpy.png) no-repeat left 50%
}
